<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.dreamer.dao.ProbleminfoMapper">
  <cache type="pers.dreamer.util.RedisCache"/>
  <resultMap id="BaseResultMap" type="pers.dreamer.bean.Probleminfo">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="ac_cnt" jdbcType="INTEGER" property="acCnt" />
    <result column="pe_cnt" jdbcType="INTEGER" property="peCnt" />
    <result column="wa_cnt" jdbcType="INTEGER" property="waCnt" />
    <result column="tle_cnt" jdbcType="INTEGER" property="tleCnt" />
    <result column="mle_cnt" jdbcType="INTEGER" property="mleCnt" />
    <result column="ce_cnt" jdbcType="INTEGER" property="ceCnt" />
    <result column="re_cnt" jdbcType="INTEGER" property="reCnt" />
    <result column="ole_cnt" jdbcType="INTEGER" property="oleCnt" />
    <result column="se_cnt" jdbcType="INTEGER" property="seCnt" />
    <result column="up_vote" jdbcType="INTEGER" property="upVote" />
    <result column="down_vote" jdbcType="INTEGER" property="downVote" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, ac_cnt, pe_cnt, wa_cnt, tle_cnt, mle_cnt, ce_cnt, re_cnt, ole_cnt, se_cnt, up_vote, 
    down_vote
  </sql>
  <select id="selectByExample" parameterType="pers.dreamer.bean.ProbleminfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from probleminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from probleminfo
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from probleminfo
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pers.dreamer.bean.ProbleminfoExample">
    delete from probleminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pers.dreamer.bean.Probleminfo">
    insert into probleminfo (pid, ac_cnt, pe_cnt, 
      wa_cnt, tle_cnt, mle_cnt, 
      ce_cnt, re_cnt, ole_cnt, 
      se_cnt, up_vote, down_vote
      )
    values (#{pid,jdbcType=INTEGER}, #{acCnt,jdbcType=INTEGER}, #{peCnt,jdbcType=INTEGER}, 
      #{waCnt,jdbcType=INTEGER}, #{tleCnt,jdbcType=INTEGER}, #{mleCnt,jdbcType=INTEGER}, 
      #{ceCnt,jdbcType=INTEGER}, #{reCnt,jdbcType=INTEGER}, #{oleCnt,jdbcType=INTEGER}, 
      #{seCnt,jdbcType=INTEGER}, #{upVote,jdbcType=INTEGER}, #{downVote,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pers.dreamer.bean.Probleminfo">
    insert into probleminfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="acCnt != null">
        ac_cnt,
      </if>
      <if test="peCnt != null">
        pe_cnt,
      </if>
      <if test="waCnt != null">
        wa_cnt,
      </if>
      <if test="tleCnt != null">
        tle_cnt,
      </if>
      <if test="mleCnt != null">
        mle_cnt,
      </if>
      <if test="ceCnt != null">
        ce_cnt,
      </if>
      <if test="reCnt != null">
        re_cnt,
      </if>
      <if test="oleCnt != null">
        ole_cnt,
      </if>
      <if test="seCnt != null">
        se_cnt,
      </if>
      <if test="upVote != null">
        up_vote,
      </if>
      <if test="downVote != null">
        down_vote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="acCnt != null">
        #{acCnt,jdbcType=INTEGER},
      </if>
      <if test="peCnt != null">
        #{peCnt,jdbcType=INTEGER},
      </if>
      <if test="waCnt != null">
        #{waCnt,jdbcType=INTEGER},
      </if>
      <if test="tleCnt != null">
        #{tleCnt,jdbcType=INTEGER},
      </if>
      <if test="mleCnt != null">
        #{mleCnt,jdbcType=INTEGER},
      </if>
      <if test="ceCnt != null">
        #{ceCnt,jdbcType=INTEGER},
      </if>
      <if test="reCnt != null">
        #{reCnt,jdbcType=INTEGER},
      </if>
      <if test="oleCnt != null">
        #{oleCnt,jdbcType=INTEGER},
      </if>
      <if test="seCnt != null">
        #{seCnt,jdbcType=INTEGER},
      </if>
      <if test="upVote != null">
        #{upVote,jdbcType=INTEGER},
      </if>
      <if test="downVote != null">
        #{downVote,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pers.dreamer.bean.ProbleminfoExample" resultType="java.lang.Long">
    select count(*) from probleminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update probleminfo
    <set>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.acCnt != null">
        ac_cnt = #{record.acCnt,jdbcType=INTEGER},
      </if>
      <if test="record.peCnt != null">
        pe_cnt = #{record.peCnt,jdbcType=INTEGER},
      </if>
      <if test="record.waCnt != null">
        wa_cnt = #{record.waCnt,jdbcType=INTEGER},
      </if>
      <if test="record.tleCnt != null">
        tle_cnt = #{record.tleCnt,jdbcType=INTEGER},
      </if>
      <if test="record.mleCnt != null">
        mle_cnt = #{record.mleCnt,jdbcType=INTEGER},
      </if>
      <if test="record.ceCnt != null">
        ce_cnt = #{record.ceCnt,jdbcType=INTEGER},
      </if>
      <if test="record.reCnt != null">
        re_cnt = #{record.reCnt,jdbcType=INTEGER},
      </if>
      <if test="record.oleCnt != null">
        ole_cnt = #{record.oleCnt,jdbcType=INTEGER},
      </if>
      <if test="record.seCnt != null">
        se_cnt = #{record.seCnt,jdbcType=INTEGER},
      </if>
      <if test="record.upVote != null">
        up_vote = #{record.upVote,jdbcType=INTEGER},
      </if>
      <if test="record.downVote != null">
        down_vote = #{record.downVote,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update probleminfo
    set pid = #{record.pid,jdbcType=INTEGER},
      ac_cnt = #{record.acCnt,jdbcType=INTEGER},
      pe_cnt = #{record.peCnt,jdbcType=INTEGER},
      wa_cnt = #{record.waCnt,jdbcType=INTEGER},
      tle_cnt = #{record.tleCnt,jdbcType=INTEGER},
      mle_cnt = #{record.mleCnt,jdbcType=INTEGER},
      ce_cnt = #{record.ceCnt,jdbcType=INTEGER},
      re_cnt = #{record.reCnt,jdbcType=INTEGER},
      ole_cnt = #{record.oleCnt,jdbcType=INTEGER},
      se_cnt = #{record.seCnt,jdbcType=INTEGER},
      up_vote = #{record.upVote,jdbcType=INTEGER},
      down_vote = #{record.downVote,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pers.dreamer.bean.Probleminfo">
    update probleminfo
    <set>
      <if test="acCnt != null">
        ac_cnt = #{acCnt,jdbcType=INTEGER},
      </if>
      <if test="peCnt != null">
        pe_cnt = #{peCnt,jdbcType=INTEGER},
      </if>
      <if test="waCnt != null">
        wa_cnt = #{waCnt,jdbcType=INTEGER},
      </if>
      <if test="tleCnt != null">
        tle_cnt = #{tleCnt,jdbcType=INTEGER},
      </if>
      <if test="mleCnt != null">
        mle_cnt = #{mleCnt,jdbcType=INTEGER},
      </if>
      <if test="ceCnt != null">
        ce_cnt = #{ceCnt,jdbcType=INTEGER},
      </if>
      <if test="reCnt != null">
        re_cnt = #{reCnt,jdbcType=INTEGER},
      </if>
      <if test="oleCnt != null">
        ole_cnt = #{oleCnt,jdbcType=INTEGER},
      </if>
      <if test="seCnt != null">
        se_cnt = #{seCnt,jdbcType=INTEGER},
      </if>
      <if test="upVote != null">
        up_vote = #{upVote,jdbcType=INTEGER},
      </if>
      <if test="downVote != null">
        down_vote = #{downVote,jdbcType=INTEGER},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.dreamer.bean.Probleminfo">
    update probleminfo
    set ac_cnt = #{acCnt,jdbcType=INTEGER},
      pe_cnt = #{peCnt,jdbcType=INTEGER},
      wa_cnt = #{waCnt,jdbcType=INTEGER},
      tle_cnt = #{tleCnt,jdbcType=INTEGER},
      mle_cnt = #{mleCnt,jdbcType=INTEGER},
      ce_cnt = #{ceCnt,jdbcType=INTEGER},
      re_cnt = #{reCnt,jdbcType=INTEGER},
      ole_cnt = #{oleCnt,jdbcType=INTEGER},
      se_cnt = #{seCnt,jdbcType=INTEGER},
      up_vote = #{upVote,jdbcType=INTEGER},
      down_vote = #{downVote,jdbcType=INTEGER}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>